<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>

   <!-- Vue.js script -->
   <script src="https://unpkg.com/vue"></script>

   <!-- Google poppins font -->
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

</head>

<body>
   <div id="vue">
      <select multiple v-model="selectedAmenities">
         <option v-for="amenity in amenities" :key="amenity.key">{{amenity.name}}</option>
      </select>
      </div>
</body>

<script>
   let vue = new Vue({
      el : "#vue",
      data : {
         amenities : [],
         selectedAmenities : []
      },
      methods : {
         getAmenities() {
            this.amenities.push({
               key : "101",
               name : "Frige"
            })

            this.amenities.push({
               key : "102",
               name : "Microwave"
            })

            this.amenities.push({
               key : "103",
               name : "TV"
            })

            this.amenities.push({
               key : "104",
               name : "AC"
            })

            this.amenities.push({
               key : "105",
               name : "Wi-Fi"
            })
         }
      },
      beforeMount() {   
         this.getAmenities()
      }
   })
</script>

</html>